body{
  background-image:url(
  "https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc.jpg")
}
h1{ font-family:"Garamond", Serif;
color:#D4D5C9;
  font-size:800%;letter-spacing:10px;
}
p{font-family:"Garamond", Serif;
  color:#D4D5C9;
  font-size:600%
}
#image1{width:25%}
#image2{width:50%}
ul{
  list-style-type:none;
  text-align: center;
  position:fixed;
  width:100%;
}
li{
  float: left;
}
li a{
  padding:30px;
  font-family:"Garamond", Serif;
  color:#D4D5C9;
  text-decoration-line:none;
}
li a:hover{
  color:white;
  text-decoration-line:underline;
}


